<nav *ngIf="isLoggedIn" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/">Bro Barber</a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" 
      [attr.aria-expanded]="isNavbarCollapsed ? 'true' : 'false'" 
      aria-controls="navbarNav" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngClass]="{'collapse navbar-collapse': true, 'show': isNavbarCollapsed}" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/booking-form" routerLinkActive="active">Booking Entry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/products" routerLinkActive="active">Product Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/chart" routerLinkActive="active">Graph</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/barbers" routerLinkActive="active">Barbers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="javascript:void()" (click)="logout()" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
